.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid black;
  padding: 30px 0;
}

.footer_info {
  width: 25%;
}

.footer_info__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114.59px;
  height: 25.43px;
  padding: 8px 15px;
  background: #0c5c9d;
  border-radius: 10.88px;
}
.footer_info__logo_img {
  width: 115px;
  height: 25.5px;
}
.footer_info__item {
  font-family: BerlinBold;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #696969;
  padding: 8px 0;
}
.footer_sponsor {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_sponsor_item {
  display: flex;
  justify-content: center;

  margin-right: 15px;
}

.footer_links {
  width: 25%;
  color: #696969;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_links__item {
  text-decoration: none;
  color: #696969;
  transition: all 0.3s;
}
.footer_links__item:hover {
  color: #444242;
}

.footer_social {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_feedback {
  display: flex;
  flex-direction: column;
}

.footer_feedback__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #121212;
  margin-bottom: 20px;
}
.footer_feedback__input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #0c5c9d;
  border-radius: 8px;
  padding: 12px 25px;
  background: #e2edf1;
}

.footer_feedback__input__send_icon {
  width: 18px;
  height: 18px;
}

.footer_networks {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer_networks_item {
  cursor: pointer;

  font-size: 30px;
  color: #0c5c9d;
  transition: all 0.4s;
}
.footer_networks_item:hover {
  color: #2a7abb;
}
@media (max-width: 1000px) {
  .footer {
    display: none;
  }
  .footer__mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer__mobile_item_title {
    display: flex;
    justify-content: space-between;
    color: #696969;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 0;
  }
  .icon-arrow_footer-mobile {
    color: black;
    font-size: 20px;
  }
  .footer__mobile_item_list {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 19px;
    height: 0;
    overflow: hidden;
  }
  .footer__mobile_item_list_addres {
    max-width: 90%;
  }
  .footer__mobile_item_list_flex-row {
    flex-direction: row;
    align-items: center;
  }
  .footer__mobile_item_list_flex-row div,
  a {
    margin-right: 10px;
  }
  .footer__mobile_item_list_addres span {
    color: #0c5c9d;
  }
  .footer__mobile_item_list_buttons {
    display: flex;
    padding-top: 10px;
  }
  .footer__mobile_item_list_buttons_phone {
    padding-right: 25px;
  }
  .footer__mobile_company a {
    color: #696969;
    padding-bottom: 10px;
  }
  .footer__mobile_company a:last-child {
    padding-bottom: 0;
  }
}
.icon-arrow_footer-mobile {
  color: #696969;
}

.footer_block_visible {
  height: auto;
  color: #121212;
}
.footer_toggle_title_active {
  color: #121212;
}
.footer_toggle_icon_active {
  color: #121212;
  transform: rotate(90deg);
}
@media (max-width: 800px) {
  .footer_feedback__title {
    font-size: 18px;
    font-weight: 22px;
  }
  .footer__mobile_item_title {
    font-size: 16px;
    line-height: 22px;
  }
  .footer__mobile_item_list_addres,
  .footer__mobile_item_list_buttons,
  .footer__mobile_company a {
    font-size: 14;
    line-height: 19px;
  }
}
