.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 179px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0c5c9d;
  border-radius: 13.6px;
  padding: 10px 18px;
}
.header__change_city {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__find {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #0c5c9d;
  border-radius: 8px;
  padding: 12px 25px 12px 15px;
  background: #e2edf1;
  margin-left: 15px;
  position: relative;
}
.header__button_find {
  height: 100%;
  border: 2px solid transparent;
  padding-left: 10px;
}
.header__button_find:active {
  border: 2px solid #0c5c9d;
}

.header__find:focus {
  border: 5px;
}
.input_find::before{

display: none;
}
.input_find__elements {
  /* display: none; */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  overflow: hidden;
  z-index: 99;
}

.input_find__elements_item {
  display: flex;
  /* align-items: center; */
  font-size: 20px;
  line-height: 20px;
  background: #e2edf1;
  border: 2px solid #0c5c9d;
  border-radius: 10px;
  padding: 10px 40px;
  margin: 3px 0 0 0;
  transition: all 0.3s;
  cursor: pointer;
}
.input_find__elements_item img {
  height: 72px;
  max-width: 72px;
  margin-right: 10px;
  border-radius: 10px;
}
.input_find__elements_item:hover {
  background-color: #abcee0;
 
}

.input_find__elements_item_description{
display: flex;
justify-content: space-around;
flex-direction: column;
}
.input_find__elements_item_description_title{
  color: black;
}
.input_find__elements_item_description_title_type{
  font-size: 14px;
  color: rgb(175, 175, 170);
}
.header__registarion {
  margin-right: 10px;
}
.header__basket {
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
.header__basket img {
  width: 37px;
  height: 30px;
}
.header__basket_goods {
  width: 19px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 21px;
  border-radius: 50%;
  padding: 0 2px;
  background: #e2edf1;
  position: absolute;
  top: -15%;
  right: -15%;
}
.heade__mobile,
.under_header__mobile {
  display: none;
}
@media (max-width: 900px) {
  .heade__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .under_header__mobile {
    display: block;
    width: 100%;
  }
  .header__find {
    width: 100%;
    margin: 20px 0;
  }
  .header__desk {
    display: none;
  }
  .input_find__elements_item{
    font-size: 16px;
    line-height: 22px;
  }
}
