.header_marketing {
  margin: 35px 0;
}
.header_marketing img {
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 35px 0;
}
.navbar_item {
  font-family: Nocturne;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #121212;
  cursor: pointer;
  padding: 6px 10px;
  transition: all 0.3s;
  border: 1px solid hsla(180, 1%, 30%, 0);
}
.navbar_item:hover {
  border: 1px solid #0c5c9d;
  border-radius: 8px;
  background-color: #e2edf1;
}

.navbar_item__active {
  border: 1px solid #0c5c9d;
  border-radius: 8px;
  background-color: #e2edf1;
}
.mobile_navbar_hidden_head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}
.mobile_navbar_hidden {
  display: flex;
  flex-direction: column;
  width: 70%;
  position: absolute;
  left: -200%;
  padding: 15px;
  background: #e2edf1;
  transition: all 0.4s ease;
  z-index: 101;
  border-radius: 12px;
}
.mobile_navbar_hidden_visible {
  left: 0;
}
.mobile_navbar_hidden_item {
  font-family: Nocturne;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #121212;
  padding-bottom: 15px;
  padding: 10px 0;
}
@media (max-width: 900px) {
  .navbar {
    /* display: flex;
    grid-template-columns: repeat(4, 1fr); */
  }
  .navbar_item {
    width: fit-content;
    padding: 10px 20px;
  }
  .navbar_item_hiden{
display: none;
  }
}

@media (max-width: 900px) {
  .navbar_item {
    /* width: fit-content; */
    padding: 10px 0;
  }
}
@media (max-width: 800px) {
  .navbar_item{
    font-size: 16px;
    line-height: 19px;

  }
}
@media (max-width: 470px) {
  .navbar_item {
    /* width: fit-content; */
    font-size: 16px;
  }
}