.pl10{
  padding-left: 10px;
}
.ml10{
  margin-left: 10px;
}
.mr10{
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}

.mr50 {
  margin-right: 50px;
}

@media screen and (max-width: 1100px) {
  .mr50 {
    margin-right: 10px;
  }
}
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.mb35 {
  margin-bottom: 35px;
}


.mb35:last-child {
  margin-bottom: 35px;
}

.translate_plus__50{
  transform: translateX(50%) translateY(-50%);
}
.translate_minus__50{
  transform: translateX(-50%) translateY(-50%);
}


.c_Bl{
  color: #121212;
}
.bg_white{
  background-color: white;
}
.border_none{
  border: none;
}
.border_color_blue{
  border-color: #0c5c9d;
}
.top30{
  top:40%
}
.top30{
  top:40%
}
/* .top50{
top:50%
} */
.modal_bg{
  /* scroll-behavior: auto; */
  display: none;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(5, 5, 5, 0.7);
  height: 1000%;
  z-index: 100;
  width: 100%;
}