.type_page {
}
.type_page__title {
  font-family: Nocturne;
  font-weight: 400;
  font-size: 46px;
  line-height: 55px;
  color: #121212;
  padding-bottom: 20px;
}
.type_page__content {
  /* width: 100%; */
  /* display: grid;
  grid-template-columns: repeat(3,1fr); */
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}
.type_page__content__card {
  align-items: center;
  padding: 0 10px 10px 10px;
  margin-bottom: 50px;
  flex: 0 0 33.3333%;
  max-width: 33, 0.3333%;
}
.type_page__content__card:hover .type_page__content__card__img {
  /* width: 300px;
    height: 420px; */
}
.type_page__content__card__img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
}
.type_page__content__card__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #121212;
  padding: 10px 0 20px 0;
}

.type_page__content__card__price {
  padding: 3px 7px;
}
.type_page__content__card__date {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #696969;
  padding: 10px 0;
}
.type_page__content__card__date__time {
  padding-left: 10px;
  color: #121212;
}

.type_page__content__card__place {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #696969;
}

/* marketing  -----------------------------*/
.main_extension_buttons__marketing {
  padding-bottom: 30px;
width: 100%;
}
.main_extension_buttons__marketing img {
max-width: 47%;
}

@media (min-width: 80px) {
  .type_page__content__card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 480px) {
  .type_page__content__card {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1100px) {
  .type_page__content__card {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media (max-width: 830px) {
  .type_page__title {
    font-size: 26px;
    line-height: 31px;
  }
  .type_page__content__card__title {
    font-size: 16px;
    line-height: 20px;
  }
  .type_page__content__card__date,
  .type_page__content__card__place {
    font-size: 14px;
    line-height: 19px;
  }
}
@media (max-width: 525px) {
  .type_page__content__card__date {
    font-size: 14px;
    line-height: 19px;
  }
}
