/* components */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  background: #000;
  padding: 12px 25px;
  background: #0c5c9d;
  color: #fdffff;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
.button:hover {
  background: #09487c;
}
.light_button {
  width: fit-content;
  color: #696969;
  border: 1px solid #0c5c9d;
  background: #e2edf1;
  transition: all 0.5s;
}
.light_button:hover {
  background: #abcee0;
  border: 1px solid #09487c;
}

.input_find {
  width: 100%;
  background: #e2edf1;
  color: #696969;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

/* CHECKBOX */

.input_checkbox {
  /* width: 20px;
  height: 20px;
  border-color: #0c5c9d;
  background-color: #e2edf1; */
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.input_checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.input_checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.input_checkbox:checked + label::before {
  border-color: #0b76ef;
  /* background-color: #0b76ef; */
  background-image: url(../img/icons/checkYes.png);
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.input_checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
/* .input_checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.input_checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
/* .input_checkbox:disabled+label::before {
  background-color: #e9ecef;
} */

/* mobile */
.input_checkbox_mobile {
  /* width: 20px;
  height: 20px;
  border-color: #0c5c9d;
  background-color: #e2edf1; */
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.input_checkbox_mobile + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.input_checkbox_mobile + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.input_checkbox_mobile:checked + label::before {
  border-color: #0b76ef;
  /* background-color: #0b76ef; */
  background-image: url(../img/icons/checkYes.png);
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.input_checkbox_mobile:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
/* .input_checkbox_mobile:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.input_checkbox_mobile:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
/* .input_checkbox_mobile:disabled+label::before {
  background-color: #e9ecef;
} */

.icon_search {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

/* BreadCrumb */
.breadCrumb {
  font-family: Nocturne;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  transition: all 0.2s;
}
.breadCrumb__item__line {
  margin: 0 15px;
  cursor: default;
}
.breadCrumb__item {
  cursor: pointer;
  text-decoration: none;
  color: #121212;
}

.breadCrumb__item:hover {
  color: #0c5c9d;
}

@media (max-width:800px) {
  .breadCrumb{
    font-size: 14px;
    line-height: 17px;
  }
  .button{
    font-size: 16px;
    line-height: 22px;
  }
  .input_find{
    font-size: 16px;
    line-height: 22px;
  }
}

