/* .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
 .ui-button.ui-state-disabled:hover,
 .ui-button.ui-state-disabled:active {
    border-radius: 50%;
} */


.noUi-target{
   
    width: 92.7%;
    height: 10px;
    background: #E2EDF1;
    border-color: #0C5C9D;
    border: 1px solid #0C5C9D  ;
    border-radius: 15px;
}

.noUi-connect{
    background-color: #0C5C9D;
}

.noUi-horizontal .noUi-handle{
    width: 16px;
    height: 16px;
    border: 1px solid #0C5C9D;
    border-radius: 50%;
    top: -4px;
    right: -10px;
}
.noUi-handle:before,
.noUi-handle:after{
    display: none;
}






.ui-widget.ui-widget-content {
background: #E2EDF1;
border-color: #0C5C9D;
border: 1px solid #0C5C9D  !important;
border-radius: 15px;
}
.ui-slider-horizontal .ui-slider-range{
    background-color: #0C5C9D;
}
.slider-range{
    margin: 10px 0;
}
.buyTicket_header__time_title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
line-height: 28px;
color: #121212;
}
.buyTicket_header__time_legend{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.buyTicket_header__time_legend_item{
    font-size: 18px;
    line-height: 25px;
    color: #696969;
}
/* .time_legend_item_small{
    display: none;
} */
.dn{
    display: none;
}
@media (max-width:1000px) {
   
    .buyTicket_header__time_legend_item{
        display: none;
    }
    .dn{
        display: block;
    }
}
@media (max-width:830px) {
   
    .buyTicket_header__time_legend_item{
        display: block;
    }
    .dn{
        display: none;
    }
}
@media (max-width:530px) {
   
    .buyTicket_header__time_legend_item{
        display: none;
    }
    .dn{
        display: block;
    }
}